<%= stylesheet_link_tag 'fullcalendar',:plugin => 'redmine_meeting_room_calendar' %>
<%= stylesheet_link_tag 'jquery-ui-1.7.3.custom.css',:plugin => 'redmine_meeting_room_calendar' %>
<%= stylesheet_link_tag 'fullcalendar',:plugin => 'redmine_meeting_room_calendar',:media => 'print' %>
<%= stylesheet_link_tag 'meeting_calendar',:plugin => 'redmine_meeting_room_calendar' %>
<%= stylesheet_link_tag 'jquery.alerts.css',:plugin => 'redmine_meeting_room_calendar' %>

<%= javascript_include_tag 'jquery-1.7.1.min.js' ,:plugin => 'redmine_meeting_room_calendar'%>
<%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min.js',:plugin => 'redmine_meeting_room_calendar'%>
<%= javascript_include_tag 'jquery-ui.min.js',:plugin => 'redmine_meeting_room_calendar' %>
<%= javascript_include_tag 'fullcalendar',:plugin => 'redmine_meeting_room_calendar'%>
<%= javascript_include_tag 'meetingcalendar',:plugin => 'redmine_meeting_room_calendar'%>
<%= javascript_include_tag 'jquery.alerts.js',:plugin => 'redmine_meeting_room_calendar'%>
<!-- setting the project id to the script file -->
<script type="text/javascript">
    var project_id  = <%= @project_id %>
</script>
<div style="padding-bottom:15px; width:540px">
    Go To: <%= text_field_tag :datepicker %>
    <!-- Meeting Rooms List -->
    Meeting Room
    <%= select_tag("meeting_rooms",options_for_select(@meeting_rooms)) %>
    <div id="loading">&nbsp;</div> 
</div>
<!-- fullcalendar target div -->
<div id='calendar'></div>
<div class="saveMeetingModal">
        <div class="field">
            <%=label_tag 'Subject'%><%= text_field_tag :subject,nil,:maxlength => 50 %>
        </div>
        <div class="field">
            <%= l(:field_status) %><%= collection_select(:issue, :status_id, IssueStatus.find(1, 5, 9), :id, :name) %>
        </div>
        <div class="field">
            <%= l(:field_priority) %><%= collection_select(:issue, :priority_id, IssuePriority.all, :id, :name) %>
        </div>
        <div class="field">
            <%=label_tag 'Start Time'%><%= select_tag "start_time", options_for_select(@start_time) %>
        </div>
        <div class="field">
            <%=label_tag 'End Time'%><%= select_tag "end_time", options_for_select(@end_time) %>
        </div>
        <div class="field">
            <em style="font-size:9px">(All fields are mandatory)</em>
        </div>
        <div class="recurfield">
            <%=label_tag 'Recur'%><%= check_box_tag 'recurCheckbox'%>
        </div>
        <div id ="recur_div">
            <div class="field">
                <label id ='recur1'> 1 Week <%= radio_button_tag 'Week', '5', :true %></label>&nbsp;&nbsp;
                <label id ='recur2'> 2 Week <%= radio_button_tag 'Week', '10' %></label>
            </div>
        </div>
    <%= submit_tag "Save", :type => 'button',:id=>"save_meeting" %>
    <%= hidden_field_tag :author_id, @user %>
    <%= hidden_field_tag :event_id, '' %>
    <%= hidden_field_tag :issue_id, @issue_id %>
</div>
